.ListItemCustom {
    height: 30px;
    position: relative;
  }
  
  .ListItemTextCustom span {
    font-size: 15px !important;
  }
  
  .Link {
    color: #000;
    text-decoration: none;
  }
  
  .Icon {
    width: 22px;
    margin-right: 10px;
  }
  
  .Border {
    height: 30px;
    width: 2px;
    background-color: #edf2f7;
    position: absolute;
    left: -18px;
  }